/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  
}
body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #ffc801;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.card {
  padding: 25px;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* homepage */
.home {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.workouts{
  flex: 3;
}
.workout-details {
  background: #fff;
  margin: 20px 0;
  position: relative;
  width: 100%;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #ffc801;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color:#2a454e;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  color: #ffc801;
}
.exercise{
  width: 100%;
  height: 80vh;
}

/*welcome page*/
.welcome{
  display: flex;
  justify-content: center;
}
.welcome-img{
  width: 50%;
  height: 78vh;
}
.welcome-content{
  margin-top: 40px;
}
.welcome-btn{
  padding: 10px 35px;
  background-color: #ffc801;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  font-family: "Poppins";
  font-size: 17px;
  cursor: pointer;
}
.welcome-title{
  color: #ffc801;
  font-size: 90px;
  line-height:1;
  margin-bottom: 25px;
}
.welcome-text{
  font-size: 15px;
  padding-right: 150px;
  margin-bottom: 20px;
  color: #2a454e;
}

/* new workout form */

label, input {
  display: block;
  color: #2a454e;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #2a454e;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  outline-color: #ffc801;
}
.create,.edit{
  flex: 1;
  height: 500px;
  margin: 20px 0;
}
form button {
  margin-top: 15px;
  background: #ffc801;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}
.form-heading{
  color: #2a454e;
  text-align: center;
  font-size: 24px;
}
.reset-password-form, .forgot-password-form{
  width: 375px;
  margin: 150px auto;
  background: #ed776b
}
.title{
  color: #2a454e;
  margin-bottom: 25px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: #ffc801;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
.nav-link-signup{
  background: #fff;
  color: #ffc801;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  background: #ed776b;
}
.form-foot-login{
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
}
.form-foot-signup{
  text-align: center;
  margin-top: 20px;
  color: #ffc801;
}
a{
  text-decoration: none;
  color: #2a454e;
}

/*not found*/
.not-found{
  width: 500px;
  height: 450px;
  margin: 25px auto;
}
.not-found-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* workout edit form */
.workout-edit{
  width: 325px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.edit{
  width: 100%;
}
.workout-edit span{
  position: absolute;
  top: 20px;
  left: 98%;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  color: #ffc801;
}

/*success*/
.success {
  padding: 10px;
  background: #d5f5b8;
  border: 1px solid green;
  color: green;
  border-radius: 4px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.success button{
  border: none;
  color: black;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

/*responsive design*/

@media(max-width: 1200px){
  .welcome-content{
    margin-top: 40px;
  }
  .welcome-btn{
    font-size: 15px;
  }
  .welcome-title{
    font-size: 60px;
  }
  .welcome-text{
    font-size: 14px;
    padding-right: 120px;
  }
  .create label, input {
    display: block;
    color: #2a454e;
    font-size: 15px;
  }
  .create input {
    margin-bottom: 15px;
  }
  .create button {
    margin-top: 10px;
    font-size: 14px;
  }
  .create .form-heading{
    font-size: 20px;
  }
}

 @media (max-width: 650px) {
  .home {
      flex-direction: column;
      gap: 20px;
  }
  .workouts, .create{
      width: 90%;
   }
}

@media(max-width: 700px){
  .welcome-img{
    display: none;
  }
  .welcome-title{
    font-size: 80px;
  }
  .welcome-text{
    font-size: 15px;
    padding-right: 10px;
  }
}

@media (max-width: 515px) {
  header {
    font-size: 15px;
  }
  nav button{
    padding: 7px 14px;
  }
  header .container{
    padding: 10px;
  }
}

@media (max-width: 470px) {
  .welcome-title{
    font-size: 60px;
  }
  .welcome-text{
    font-size: 15px;
    padding-right: 10px;
  }
  header {
    font-size: 14px;
  }
  nav button{
    padding: 6px 12px;
  }
  header .container{
    padding: 10px;
  }
}
