/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #ebe7f5;
  --error: #FF980E;
}
body {
  background: #ffffff;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #6e8c82;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--primary);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.workouts{
  flex: 3;
}
.workout-details {
  background: var(--primary);
  border-radius: 8px;
  margin: 20px 0;
  padding: 25px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 100%;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #6e8c82;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color:#2e2c39;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  color: #6e8c82;
}

/*welcome page*/
.welcome{
  width: 100%;
  max-width: 600px;
  position: relative;
  margin:18px auto; 
}
.welcome-img{
  width: 100%;
  border-radius: 50%;
  opacity: 0.4;
}
.welcome-content{
  position:absolute;
  top: 120px;
  text-align: center;
  color: #2e2c39;
  padding: 5px 120px;
}
.welcome-btn{
  padding: 10px 35px;
  background-color: #6e8c82;
  color: #fcfbf6;
  border-radius: 30px;
  border: none;
  font-family: "Poppins";
  font-size: 17px;
  cursor: pointer;
}
.welcome-title{
  color: #6e8c82;
}

/* new workout form */
label, input {
  display: block;
  color: #2e2c39;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
.create,.edit{
  flex: 1;
  height: 500px;
  padding: 25px;
  background-color:var(--primary);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin: 20px 0;
}
form button {
  margin-top: 15px;
  background: #6e8c82;
  border: 0;
  color: #ffffff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.form-heading{
  color: #6e8c82;
  text-align: center;
}
/* #4b5e6d */
div.error {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: var(--primary);
  color: #6e8c82;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
.nav-link-signup{
  background: var(--primary);
  color: #6e8c82;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 25px;
  background: var(--primary);
  border-radius: 8px;
}
.form-foot{
  text-align: center;
  margin-top: 20px;
  color: #2e2c39;
}
.not-found{
  width: 500px;
  height: 450px;
  margin: 25px auto;
}
.not-found-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* workout edit form */
.workout-edit{
  width: 325px;
  position: relative;
  margin: 0 auto; 
}
.edit{
  width: 100%;
  /* margin: auto; */
}
.workout-edit span{
  position: absolute;
  top: 20px;
  left: 98%;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  color: #6e8c82;
}

/*responsive design*/
 @media (max-width: 638px) {
  .home {
      flex-direction: column;
      gap: 20px;
  }
  .workouts, .create{
      width: 90%;
   }
}

 @media (max-width: 600px) {
  .welcome{
    margin-top: 60px;
  }
  .welcome-content {
    padding: 0px 70px;
    top: 80px;
    font-size: 15px;
  }
  .welcome-btn {
    padding: 10px 20px;
    font-size: 15px;
  }
}
@media (max-width: 515px) {
  .welcome{
    margin-top: 60px;
  }
  .welcome-content {
    padding: 0px 40px;
    top: 60px;
    font-size: 13px;
  }
  .welcome-title{
    font-size: 25px;
  }
  .welcome-btn {
    padding: 10px 20px;
    font-size: 13px;
  }
  header {
    font-size: 12px;
  }
  nav button{
    padding: 5px 10px;
  }
  header .container{
    padding: 5px;
  }
}

@media (max-width: 465px) {
  .workout-edit{
    width: 300px;
  }
}

@media (max-width: 418px) {
  .welcome{
    margin-top: 120px;
  }
  .welcome-content {
    padding: 0px 35px;
    top: 25px;
    font-size: 10px;
  }
  .welcome-title{
    font-size: 20px;
  }
  .welcome-btn {
    padding: 7px 11px;
    font-size: 8px;
  }
  .workout-edit{
    width: 250px;
  }
}

@media(max-width:382px){

  header {
    font-size: 12px;
  }
  .nav-link-signup{
    padding: 4px 8px;
    font-size: 12px;
  }
  nav button{
    padding: 4px 8px;
  }
  .home{
    gap: 5px;
  }
  .pages{
    padding: 8px;
  }
  header .container{
    padding:4px;
  }
  .workout-details{
    width: 90%;
    font-size: 15px;
  }
  .workout-details span{
    font-size: 18px;
  }
  .create{
    width: 80%;
    font-size: 15px;
  }
  .workout-edit{
    width: 190px;
    font-size: 15px;
  }
  .workout-edit span{
    font-size: 18px;
    top: 15px;
    left: 100%;
  }
}

@media(max-width: 351px){
  header .container h1{
    margin-right: 20px;
  }
 }

 @media(max-width:300px){
  .workout-edit{
    width: 180px;
    margin-left: 5px;
  }
  header .container h1{
    margin-right: 0;
  }
 }

 @media(max-width:287px){
  .welcome{
    margin-top: 150px;
  }
  .welcome-content {
    padding: 0px 25px;
    top: 25px;
    font-size: 9.5px;
  }
  .welcome-title{
    font-size: 15px;
  }
  .welcome-btn {
    padding: 5px 10px;
  }
 }



